/* style/glitch_theme.css */
body {
    background-color: #0f0f0f;
    color: #f0f0f0;
    font-family: 'Courier New', monospace;
}

h1, h2 {
    color: #f7f709;
    text-shadow: 0 0 4px #ff0;
}

code {
    background-color: #111;
    color: #f00;
    padding: 5px;
    border-radius: 4px;
}
